:root {
            --background: #F7F9FA;
            --primary: #1A535C;
            --secondary: #FF6B6B;
            --accent: #4ECDC4;
            --text-primary: #1F2937;
            --text-secondary: #4B5563;
        }
        body {
            font-family: 'Inter', sans-serif;
            background-color: var(--background);
        }
        .bg-primary { background-color: var(--primary); }
        .text-primary { color: var(--primary); }
        .bg-secondary { background-color: var(--secondary); }
        .text-secondary { color: var(--secondary); }
        .bg-accent { background-color: var(--accent); }
        .text-accent { color: var(--accent); }
        .border-primary { border-color: var(--primary); }

        /* Estilo customizado para o scrollbar */
        ::-webkit-scrollbar {
            width: 8px;
        }
        ::-webkit-scrollbar-track {
            background: #f1f1f1;
        }
        ::-webkit-scrollbar-thumb {
            background: var(--accent);
            border-radius: 10px;
        }
        ::-webkit-scrollbar-thumb:hover {
            background: var(--primary);
        }
